@media (max-width:769px) {
    .block {
        box-sizing: border-box;
        width: 100%;
    }

    .hide-on-sm {
        display: none;
    }
}

.w-sh {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}
